
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Questrial&display=swap');



* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  background-color: #F2F7FA;
  font-family: 'Aleo', serif;
  text-align: center;
}

main {
  padding: 1rem;
  height: 100vh;
  background-color: #F2F7FA;
  font-family: 'Aleo', serif ;
}

.titlestyle {
  color: rgb(56, 91, 207);
  font-size: medium;
}
