
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Questrial&family=Quicksand:wght@300&display=swap');



* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  background-color: #F2F7FA;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

main {
  padding: 1rem;
  height: 100vh;
  background-color: #F2F7FA;
  font-family: 'Aleo', serif ;
}

.titlestyle {
  color: rgb(8, 8, 130);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titlestyle:hover {
 /* background-color: #e6f4fc;*/
  color: rgb(8, 8, 28);
  box-shadow:  0 4px 6px 0 rgba(0,0,0,0.24);
}


  .buttonAdd {
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    width: 180px;
    background-color:#F2F7FA;
    height: 35px;
    margin-top: 25px;
    
  }
  
  .buttonAdd:hover {
    background-color: #515455; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .buttonSubmit{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    background-color: #F2F7FA;
    height: 35px;
  }
  .buttonSubmit:hover {
    background-color: #515455; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

  .buttonBack{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    background-color:#F2F7FA;
    width: 150px;
    height: 35px;
  }
  .buttonBack:hover {
    background-color: #515455; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  .buttonDelete{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    background-color:#F2F7FA;
    width: 150px;
    height: 35px;
  }
  .buttonDelete:hover {
    background-color: #515455; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

 .info1 {
  
 font-size: 15px;
 margin-top: 10px;
 margin-bottom: 10px;
 
 }



.inputs {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}


.formdiv {


}

.header1 {
  color:rgb(12, 12, 67);
  margin-top: 25px;
  font-size: 80px;
  
}
.header2 {
  color:rgb(12, 12, 67);
  margin-top: 15px;
  margin-bottom: 25px;
  
}
