
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Questrial&family=Quicksand:wght@300&display=swap');



* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
  background-color: #F2F7FA;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

main {
  padding: 1rem;
  height: 100vh;
  background-color: #F2F7FA;
  font-family: 'Aleo', serif ;
}

.titlestyle {
  color: rgb(8, 8, 130);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titlestyle:hover {
 /* background-color: #e6f4fc;*/
  color: rgb(19, 19, 226);
  
  background-color: #F2F7FA;
  cursor: pointer; 
}


  .buttonAdd {
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    background-color:#F2F7FA;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 50px;
    
  }
  
  .buttonAdd:hover {
    background-color: rgb(20, 20, 25);
    cursor: pointer; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }

  .buttonSubmit{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    background-color: #F2F7FA;
    height: 35px;
  }
  .buttonSubmit:hover {
    background-color: rgb(20, 20, 25);
    cursor: pointer;  
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

  .buttonBack{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    background-color:#F2F7FA;
    width: 150px;
    height: 35px;
  }
  .buttonBack:hover {
    background-color: rgb(20, 20, 25);
    cursor: pointer; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  .buttonDelete{
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 4px;
    background-color:#F2F7FA;
    width: 150px;
    height: 35px;
  }
  .buttonDelete:hover {
    background-color: rgb(20, 20, 25);
    cursor: pointer;  
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

 .info1 {
  
 font-size: 15px;
 margin-top: 10px;
 margin-bottom: 10px;
 color: rgb(4, 4, 62);
 
 }
 .info2 {

  text-decoration-line: underline;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(4, 4, 62);
  
  }



.inputs {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}


.formdiv {


}

.header1 {
  color:rgb(12, 12, 67);
  margin-top: 25px;
  font-size: 80px;
  
}
.header2 {
  color:rgb(12, 12, 67);
  margin-top: 15px;
  margin-bottom: 25px;
  text-decoration-line: underline;
  
}

.footer{

  margin-top: 3rem;
  padding: 1rem; 
  background-color: #F2F7FA;
  position: absolute fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.facebook {
  background-image: url('https://cdn-icons-png.flaticon.com/512/739/739237.png');
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border:none;
  margin-right: 1em;
}

.instagram {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1077/1077042.png');
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border:none;
  margin-right: 1em;
}

.twitter {
  background-image: url('https://cdn-icons-png.flaticon.com/512/733/733635.png');
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border:none;
  margin-right: 1em;
}

.pinterest {
  background-image: url('https://cdn-icons-png.flaticon.com/512/2175/2175205.png');
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border:none;
  margin-right: 1em;
}

.footerTag{
  margin-top: 1em;
}
